#onlineOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

#onlineMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#beverages {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;

}
#beverageList {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}


#snacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
#snacksList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
}


#desserts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
#dessertsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;  
}

  

#quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    input {
        text-align: center;
        width: 5vw;
    }
}
