.myOrders {
    margin-top: 10vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10vw;
    width: 100vh;
    height: auto;
}