#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    #loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
}


#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    #registrationForm {
    display: flex;
    flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
}
