#reservationList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    padding: 3vh 3vw;
}
.ag-theme-quartz {
    height: 45vh;
    width: 50vw;
}

#cancelReservation {
    width: 10vw;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 2vw;
    padding: 1vh 1vw;
    background-color: red;
    color: black;
    font-size: 1vw;
    border-radius: 5px;
    cursor: pointer;
}
