#reservation-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    padding: 1vh 1vw;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1vw;
    border: 1px solid #667eea;
}